.principal
{
margin: 0 auto;
padding: 0;
border: 1px solid black;
max-width: 100vw;
max-height: 100vh;
color:white;
margin: 15px;
}
p{
text-align:justify;
margin-bottom: 60px;
}
H1{
min-width: 10px;
text-align: center;
color: red;
padding: 5px;
font-family: Arial, Helvetica, sans-serif;
}
.superior{
border: 1px solid black;   
background-color:black;
height: 75px;
margin: 5px;
}
.menu
{
border:1px solid black; 
background-color:black;
width: 200px;
height: 444px;
margin-bottom:5px;
float: left;
margin-left:5px;
color:white;
}
.conteudo
{
border:1px solid black; 
background-color:rgb(241, 227, 227);
margin-right: 5px;
margin-left: 213px;
height:445px;
display: flex;
flex-wrap: wrap;
justify-content: center;
color: black;
}
.rodape
{
border: 1px solid black; 
background-color:rgb(72, 72, 223);
height: 75px;
clear: both;
margin: 5px;
}
.img{
width:300px;
height:300px;
margin: 10px;
}
ul li
{
padding: 10px;
list-style: none;
font-size: 1.2rem;
font-family: Arial, Helvetica, sans-serif;
color: white;
}
ul li a
{
color: white;
}
@media (max-width:750px) {
    .img {
        width:120px;
        height:120px;
    }
}




